/* section2 styles */

.main-logo {
    width: 500px;
    height: 90px;
}
.navigation {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
}
.logo-size {
    height: 75px;
}

.container-block {
    display: inline-flex;
}

.navigation {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.size {
    font-size: 20px;
}


/* section1 */
.section1 {
    padding-top: 100px;
}
.div-one {
	max-width: 400px;
	font-family: 'Poppins', sans-serif;
}
.ddiv-one2 {
	max-width: 300px;
}
button {
	background-image: linear-gradient(to right, #1A129F, #5046E3);
}

.d1 {
    margin-left: 300px;
}
.image1 {
    padding-left: 100px;
}

/* section2 */
.div-two d2 {
	max-width: 400px;
	font-family: 'Poppins', sans-serif;
}
.d2 {
        margin-left: 200px;
}
.d2-h5 {
	max-width: 400px;
}
.d3 {
    margin-left: 100px;
}
.card-size {
    max-width: 367px;
    width: 100%;
    height: 410px;
}

.image-size {
    height: 90px;
}

.btn-style {
    background-image: linear-gradient(to right, #1A129F, #5046E3);
    border-radius: 36px;
}

.button-card {
    display: flex;
    justify-content: flex-end;
}

.card-size:nth-child(1),
.card-size:nth-child(2),
.card-size:nth-child(3) {
    margin-bottom: 110px;
}

.card-text {
    height: 130px;
}

.container {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
}

.last-section {
    width: 500;
}

.card-size {
	max-width: 350px;
	height: 410px;
}
input {
	max-width: 600px;
}
.section-3 {
    margin-top: 50px;
}